* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.home {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
}

.container {
    background-color: rgba(255, 225, 225, 0.1);
    width: 24vw !important;
    height: 58vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px #000;
    font-weight: bold;
    margin-right: 36px !important;
}

.container_ {
    background-color: rgba(255, 225, 225, 0.1);
    width: 42vw !important;
    height: 32vh;
    width: 200px;
    height: 358%;
    padding: 2rem;
    box-shadow: 5px 5px 15px #000;
    font-weight: bold;
    margin-left: 21%;
}



input {
    font-weight: bold;
    width: 103%;
    height: 36px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.h-1 {
    display: flex;
    margin-bottom: 23px;
    text-transform: capitalize;
    justify-content: center;
}


.field {
    width: 50%;
    float: left;
    color: #c0c0c0;
}

.field input {
    margin: 10px 1%;
    padding: 8px 1%;
    width: 90%;
}

.field select {
    margin: 10px 1%;
    padding: 8px 1%;
    width: 94%;
    font-weight: bold;
}

.field_1 {
    width: 105%;
    float: left;
    color: #c0c0c0;
}

.field_1 input {
    margin: 10px 1%;
    padding: 8px 1%;
    width: 90%;
}

.field_1 select {
    margin: 10px 1%;
    padding: 8px 1%;
    width: 94%;
    font-weight: bold;
}

.general {
    display: flex;
    flex-direction: row;
}

.btn {
    /* display: flex; */
    /* */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 11px; */
    border-radius: initial;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.circular_image {
    display: flex;
    justify-content: center;
}

.logoName,
.job {
    display: flex;
    /* justify-content: center; */
    margin-left: 17px;
}

.name {
    display: flex;
    /* justify-content: center; */
    margin: 17px;
}

.text_ {
    display: flex;
    /* color: #ccc; */
    margin: 10px;
}


textarea {
    width: 192%;
    height: 147px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
